{% extends 'base.html.twig' %}

{% block title %}Prestataires{% endblock %}

{% block body %}
    <main class="main-prestataire bg">
        <h1 id="title">Liste des prestataires</h1>
        {% if app.user %}
            {% if app.user.prestataire %}
            {% else %}
                <a class="a-prestataire-form" href="{{ path('app_prestataire_form', {'id': app.user.id}) }}">
                    Devenir prestataire</a>
            {% endif %}

        {% endif %}
        <form class="search-form" action="">
            <input class="searchbar" type="text" placeholder="Cherchez par nom, ville,...">
            <input class="search-submit" type="submit" value="rechercher">
        </form>

        <div class="liste-prestataire">
            {% for p in proposer %}
                <div class="prestataire-container">
                    {% for i in p.prestataire.images %}
                        <img id="prestataire_img" src="{{ asset('../uploads/images/' ~ i.image) }}" alt=""/>
                    {% endfor %}
                    <div class="side-prestataire-container">
                        <a href="{{ path('prestataire_show', {id: p.id}) }}"><h2
                                    id="prestataire_titre">{{ p.prestataire.nom }}</h2></a>
                        <div class="description">
                            <p>{{ p.prestataire.siteinternet }}</p>
                        </div>
                        <span>
                            <a id="nom-categ" href="{{ path('app_categorie_show', {nom: p.categorieDeServices.nom }) }}">{{ p.categorieDeServices.nom }}</a>
                            <a href="{{ path('prestataire_show', {id: p.prestataire.id}) }}">Voir plus</a>
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>

{% endblock %}
