{% extends 'base.html.twig' %}

{% block title %}Prestataires{% endblock %}

{% block body %}
    <header class="header_container">
        <div class="header_form">
            {{ form_start(searchForm) }}
            {{ form_row(searchForm.prestataire , {'attr': {
                'placeholder': 'Cherchez un prestataire'
            }}) }}
            {{ form_row(searchForm.localite) }}
            {{ form_row(searchForm.cp) }}
            {{ form_row(searchForm.commune) }}

            {{ form_row(searchForm.categorie) }}

            <button type="submit" class="btn-submit">Rechercher</button>
            {{ form_end(searchForm) }}
        </div>
    </header>
    <main class="main-prestataire bg">
        <h1 id="title">Liste des prestataires</h1>
        {% if app.user %}
            {% if app.user.prestataire %}
            {% else %}
                <a class="a-prestataire-form" href="{{ path('app_prestataire_form', {'id': app.user.id}) }}">
                    Devenir prestataire</a>
            {% endif %}
        {% endif %}

        <div class="liste-prestataire">
          {#   {% for p in proposer %}#}
            {% for p in pagination %}
                <div class="prestataire-container">
                    {% for i in p.prestataire.images %}
                        {% if i.ordre == 0 %}
                            <img id="prestataire_img" src="{{ asset('../uploads/images/' ~ i.image) }}" alt=""/>
                        {% endif %}
                    {% endfor %}
                    <div class="side-prestataire-container">
                        <a href="{{ path('prestataire_show', {id: p.prestataire.id}) }}"><h2
                                    id="prestataire_titre">{{ p.prestataire.nom }}</h2></a>
                        <div class="description">
                            <p>{{ p.prestataire.siteinternet }}</p>
                        </div>
                        <span>
                            <a id="nom-categ" href="{{ path('app_categorie_show', {nom: p.categorieDeServices.nom }) }}">{{ p.categorieDeServices.nom }}</a>
                            <a href="{{ path('prestataire_show', {id: p.prestataire.id}) }}">Voir plus</a>
                        </span>
                    </div>
                </div>
            {% endfor %}
            {{ knp_pagination_render(pagination) }}
        </div>
    </main>

{% endblock %}
