{% extends 'base.html.twig' %}
{% block title %}{{ prestataire.nom }}{% endblock %}
{% block body %}
    <main class="solo_prestataire">
        <div class="solo_prestataire_container">
            {% for i in prestataire.images %}
                <img id="prestataire_img" src="{{ asset('../uploads/images/' ~ i.image) }}" alt=""/>
            {% endfor %}
            <div id="side_prestataire">
                <h2>{{ prestataire.nom }}</h2>
                <a href="#">{{ prestataire.siteinternet }}</a>
                <p>{{ prestataire.numtel }}</p>
                <span>
                    <p>{{ prestataire.numtva }}</p>
                    <span id="likes">
                        <p>{{ favoris }}</p>
                    {% if app.user %}
                        <form action="{{ path('prestataire_like', {id: prestataire.id, userId: app.user.id}) }}"
                              method="post">
                        {% if display_like %}
                            <button class="like-btn dislike" name="like-btn" value="dislike"></button>
                            {% else %}
                            <button class="like-btn like" name="like-btn" value="like"></button>
                        {% endif %}
                        </form>
                        {% else %}
                        <a href="{{ path('app_login') }}">
                            <button class="like-btn like" name="like-btn" value="like"></button>
                        </a>
                    {% endif %}
                    </span>
                    {#
                    {{ form_start(likeForm) }}
                    {{ form_row(likeForm.like) }}
                    {{ form_end(likeForm) }}
                    #}
                </span>
                <a href="{{ path('app_categorie_show', {'nom' : categorie.nom}) }}">{{ categorie.nom }}</a>
                {% include "components/_share.html.twig" %}
                <div class="stages">
                    <h3>Stages à venir</h3>

                    {% if stages|length > 0 %}
                        <div>
                            {% for s in stages %}
                                <a href="{{ path('app_stage_show', {nom:s.nom}) }}">{{ s.nom }}</a>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>Aucun stage pour l'instant</p>
                    {% endif %}
                </div>
            </div>
            <div class="similaires">
                <h3>Prestataires similaires</h3>
                {% for c in categ_simi %}
                    <p>{{ c.prestataire.nom }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="form_commentaire">
            <span></span>
            {{ form_start(form_commentaire) }}
            {{ form_row(form_commentaire.Titre) }}
            {{ form_row(form_commentaire.contenu) }}
            <button type="submit" class="btn-submit">Publier</button>
            {{ form_end(form_commentaire) }}
        </div>
        <div class="commentaires">
            {% for c in commentaires %}
                <div class="solo_commentaire">
                    <span>
                        <h4>{{ c.titre }}</h4>
                    <p id="auteur">{{ c.internaute.name }}</p>
                    </span>
                    <p>{{ c.contenu }}</p>
                </div>
            {% endfor %}
        </div>
    </main>

{% endblock %}
