{% extends 'base.html.twig' %}
{% block title %}{{ prestataire.nom }}{% endblock %}
{% block body %}
    <main class="solo_prestataire">
        <div class="solo_prestataire_container">
            {% for i in prestataire.images %}
                <img id="prestataire_img" src="{{ asset('../uploads/images/' ~ i.image) }}" alt=""/>
            {% endfor %}
            <div id="side_prestataire">
                <h2>{{ prestataire.nom }}</h2>

                <a href="#">{{ prestataire.siteinternet }}</a>


                <p>{{ prestataire.numtel }}</p>
                <span>
                    <p>{{ prestataire.numtva }}</p>
                    <form action="{{ path('prestataire_like', {id: prestataire.id, userId: app.user.id}) }}" method="post">
                            <button class="like-btn like" name="like-btn" value="like"></button>
                        </form>
                </span>
                <a href="{{ path('app_categorie_show', {'nom' : categorie.nom}) }}">{{ categorie.nom }}</a>
            </div>

        </div>
    </main>

{% endblock %}
