{% extends 'base.html.twig' %}
{% if image_current %}
    {% set image = "uploads/images/" ~ image_current.image %}
{% else %}
    {% set image = "images/blank-profil.png"%}

{% endif %}


{% block title %}Modifiez votre profil prestataire{% endblock %}

{% block body %}
    <main class="main-profil">
        {% if app.user.prestataire %}
            <a href="{{ path('prestataire_show', {id:app.user.prestataire.id}) }}">Voir ma fiche prestataire</a>
        {% endif %}
        <h1>Votre profil</h1>
        <h2>{{ prestataire.nom }}</h2>
        <img id="profil_img" src="{{ asset(image) }}" alt=""/>
        {{ form_start(imageForm) }}
        {{ form_row(imageForm.Image) }}
        {{ form_row(imageForm.Enregistrer) }}
        {{ form_end(imageForm) }}
        <a href="{{ path('app_edit_user', {id:app.user.prestataire.id}) }}">Modifier mes informations personnelles</a>
    </main>

{% endblock %}
