<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bien Être{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400;1,500&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/js/all.js"></script>

</head>
<body>
<nav>
    <a id="logo" href="{{ path('app_accueil') }}">
        <h1 class="logo">BienÊtre</h1>
    </a>
    <div class="nav-links">
        <div class="nav-a links">
            <a class="nav-a" href="{{ path('app_accueil') }}">Accueil</a>
            <div class="nav-categ">
                <a class="nav-a" id="categ" href="{{ path('app_categories') }}">Categories</a>
                <button class="btn-categ">
                    {# <img id="arrow" src="{{ asset('../images/assets/down-arrow.png') }}" alt="down-arrow"> #}
                    <svg id="arrow" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
                         clip-rule="evenodd">
                        <path d="M23.245 4l-11.245 14.374-11.219-14.374-.781.619 12 15.381 12-15.391-.755-.609z"/>
                    </svg>
                </button>
                <div class="display-categ">
                    {% for c in categories %}
                        <a href="{{ path('app_categorie_show', {nom: c.nom}) }}">{{ c.nom }}</a>
                    {% endfor %}
                </div>
            </div>
            <a class="nav-a" href="{{ path('app_prestataire') }}">Prestataires</a>
            <a class="nav-a" href="{{ path('app_stage') }}">Stages</a>
            {# <a class="nav-a" href="#">A propos</a> #}
            <a class="nav-a" href="{{ path('app_contact') }}">Contact</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin') }}">admin</a>
            {% endif %}
        </div>
        {% if app.user %}
            <p id="email">
                {{ app.user.email }}
            </p>
            {% if app.user.prestataire %}
                <div class="log">
                    <a href="{{ path('app_profil_user', {id:app.user.prestataire.id}) }}" id="profil">Profil</a>
                    <a href="{{ path('app_logout') }}" id="logout">Déconnexion</a>
                </div>
            {% elseif is_granted('ROLE_ADMIN') %}
                <div class="log">
                    <a href="{{ path('app_logout') }}" id="logout">Déconnexion</a>
                </div>
            {% endif %}
        {% else %}
            <div class="log">
                <a href="{{ path('inscription') }}" id="login">S'inscrire</a>
                <a href="{{ path('app_login') }}" id="signin">Se connecter</a>
            </div>
        {% endif %}

    </div>
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>

</nav>

{% block body %}
    <header class="header_container">
        <div class="header_form">
            {{ form_start(searchForm) }}
            {{ form_row(searchForm.prestataire , {'attr': {
                'placeholder': 'Cherchez un prestataire'
            }}) }}
            {{ form_row(searchForm.localite) }}
            {{ form_row(searchForm.cp) }}
            {{ form_row(searchForm.commune) }}

            {{ form_row(searchForm.categorie) }}

            <button type="submit" class="btn-submit">Rechercher</button>
            {{ form_end(searchForm) }}
        </div>
        <div class="container-slide">
            <img src="{{ asset('../images/slider/slider1.jpg') }}" alt="" class="img img-1 show">
            <img src="{{ asset('../images/slider/slider2.jpg') }}" alt="" class="img img-2">
        </div>
    </header>
    <main class="bg">
        {% if app.user %}
            <div class="last-signed" data-aos="fade-in" data-aos-easing="ease-in-out" data-aos-delay="50"
                 data-aos-duration="1000">
                <h2 id="title">Derniers inscrits</h2>
                <div class="last-signed-container">
                    {% for p in prestataires %}
                        <div class="prestataire-container_accueil">
                            {% for i in p.prestataire.images %}
                                <a href="{{ path('prestataire_show',{id: p.prestataire.id}) }}">
                                    <img id="prestataire_img_accueil" src="{{ asset('../uploads/images/' ~ i.image) }}"
                                         alt=""/>
                                </a>
                            {% endfor %}
                            <a href="#">
                                <h3>{{ p.prestataire.nom }}</h3>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="last-signed" data-aos="fade-in" data-aos-easing="ease-in-out" data-aos-delay="50"
                 data-aos-duration="1000">
                <h2 id="title">Derniers inscrits</h2>
                <div class="last-signed-container">
                    {% for p in prestataires %}
                        <div class="prestataire-container_accueil">
                            {% for i in p.prestataire.images %}
                                <a href="{{ path('prestataire_show',{id: p.prestataire.id}) }}">
                                    <img id="prestataire_img_accueil" src="{{ asset('../uploads/images/' ~ i.image) }}"
                                         alt=""/>
                                </a>
                            {% endfor %}
                            <a href="{{ path('prestataire_show',{id: p.prestataire.id}) }}">
                                <h3>{{ p.prestataire.nom }}</h3>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="categorie-mois-container" data-aos="fade-in" data-aos-easing="ease-in-out" data-aos-delay="50"
             data-aos-duration="1000">
            <h2 id="title">Catégorie du mois</h2>

            {% for c in categorie_mois %}
                <a href="{{ path('app_categorie_show', {nom:c.nom}) }}">
                    <h3>{{ c.nom }}</h3>
                </a>
                <img alt="categorie" src="{{ asset('../uploads/images/' ~ categorie_mois_image.Image) }}"
                     id="categorie-mois-image"/>
            {% endfor %}
        </div>
        <div class="favoris" data-aos="fade-in" data-aos-easing="ease-in-out" data-aos-delay="50"
             data-aos-duration="1000">
            {% if app.user %}
                <h2 id="title">Vos favoris</h2>
                <div class="favoris-container">
                    {% for p in prestatairesFavoris %}
                        <div class="prestataire-container_accueil_favoris">
                            {% for i in p.images %}
                                <a href="{{ path('prestataire_show',{id: p.id}) }}">
                                    <img id="prestataire_img_accueil" src="{{ asset('../uploads/images/' ~ i.image) }}"
                                         alt=""/>
                                </a>
                            {% endfor %}
                            <a href="{{ path('prestataire_show',{id: p.id}) }}">
                                <h3>{{ p.nom }}</h3>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}
<script src="{{ asset('js/app.js') }}"></script>
<script src="{{ asset('js/form.js') }}"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>
<div id="wrap">
    <footer>
        <p id="copyright">© 2023 Maxime Kaiser</p>
        <div class="container">
            <div>
                <h3>Pages</h3>
                <ul>
                    <li><a class="nav-a" href="{{ path('app_accueil') }}">Accueil</a></li>
                    <li><a class="nav-a" id="categ" href="{{ path('app_categories') }}">Categories</a></li>
                    <li><a class="nav-a" href="{{ path('app_prestataire') }}">Prestataires</a></li>
                    <li><a class="nav-a" href="#">A propos</a></li>
                    <li><a class="nav-a" href="#">Contact</a></li>
                </ul>
            </div>
            <div>
                <h3>Contact</h3>
                <p>maxkaiser950@gmail.com</p>
            </div>
        </div>
    </footer>
</div>
</html>
