<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400;1,500&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/js/all.js"></script>

</head>
<body>
<nav>
    <a id="logo" href="{{ path('app_accueil') }}">
        <h1 class="logo">BienÊtre</h1>
    </a>
    <div class="nav-links">
        <div class="nav-a links">
            <a class="nav-a" href="{{ path('app_accueil') }}">Accueil</a>
            <a class="nav-a" href="{{ path('app_categories') }}">Categories</a>
            <a class="nav-a" href="{{ path('app_prestataire') }}">Prestataires</a>
            <a class="nav-a" href="#">A propos</a>
            <a class="nav-a" href="#">Contact</a>
        </div>
        {% if app.user %}
            <p id="email">
                {{ app.user.email }}
            </p>
            {% if app.user.prestataire %}
                <a href="{{ path('app_profil_user', {id:app.user.prestataire.id}) }}">Profil</a>
            {% endif %}

        {% else %}
            <div class="log">
                <a href="{{ path('inscription') }}" id="login">S'inscrire</a>
                <a href="{{ path('app_login') }}" id="signin">Se connecter</a>
            </div>
        {% endif %}

    </div>
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>

</nav>

{% block body %}
    <header>

        {{ form_start(searchForm) }}
        {{ form_row(searchForm.recherche) }}
        <button type="submit" class="btn-submit">Rechercher</button>
        {{ form_end(searchForm) }}
        <div class="container-slide">
            <img src="{{ asset('../images/slider/slider1.jpg') }}" alt="" class="img img-1 show">
            <img src="{{ asset('../images/slider/slider2.jpg') }}" alt="" class="img img-2">
        </div>
    </header>
    <main class="bg">
        {% if app.user %}
            <div class="last-signed">
                <h2 id="title">Derniers inscrits</h2>
                <div class="last-signed-container">
                    {% for p in prestataires %}
                        <div class="prestataire-container_accueil">
                            {% for i in p.prestataire.images %}
                                <a href="#">
                                    <img id="prestataire_img_accueil" src="{{ asset('../uploads/images/' ~ i.image) }}"
                                         alt=""/>
                                </a>
                            {% endfor %}
                            <a href="#">
                                <h3>{{ p.prestataire.nom }}</h3>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="last-signed">
                <h2 id="title">Derniers inscrits</h2>
                {% for p in prestataires %}
                    <div class="prestataire-container_accueil">
                        {% for i in p.prestataire.images %}
                            <a href="#">
                                <img id="prestataire_img_accueil" src="{{ asset('../uploads/images/' ~ i.image) }}"
                                     alt=""/>
                            </a>
                        {% endfor %}
                        <a href="#">
                            <h3>{{ p.prestataire.nom }}</h3>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}


    </main>
{% endblock %}
<script src="{{ asset('js/app.js') }}"></script>
</body>
</html>
