{% extends 'base.html.twig' %}

{% block title %}{{ stage[0].nom }}{% endblock %}
{% block body %}
    <main class="main-stage">
        {% for s in stage %}
            <div class="stage-show-container">
                <h2>{{ s.nom }}</h2>
                <p id="stage-by">par <a href="{{ path('prestataire_show', {id:s.prestataire.id}) }}">{{ s.prestataire }}</a></p>
                <p>{{ s.description }}</p>
                <p>{{ s.infoComplementaire }}</p>
                <p>du {{ s.debut|date('d/m/Y') }} au {{ s.fin|date('d/m/Y') }}</p>
            </div>
        {% endfor %}
    </main>
{% endblock %}